{% extends 'extends/iboxContent.html.twig' %}

{% block tituloPagina %}Nuevo Cuatrimestre{% endblock %}

{% block contenidoIbox %}
    <h1>Crear</h1>

    {{ include('cuatrimestre/_form.html.twig') }}

    <a href="{{ path('app_cuatrimestre_index') }}">back to list</a>
{% endblock %}
