{% extends 'extends/iboxContent.html.twig' %}
{% block title %}Nueva Materia{% endblock %}

{% block contenidoIbox %}
    <h1>Espectativa de estudio</h1>

        {{ form_start(form) }}
        {{ form_row(form.dailyGoal) }}
        {{ form_row(form.dailyStudyGoalHours) }}
        <button type="submit">Guardar</button>
        {{ form_end(form) }}
{% endblock %}
