{% extends 'extends/iboxContent.html.twig' %}

{% block title %}Nueva Materia{% endblock %}

{% block contenidoIbox %}
    <h1>Crear</h1>

    {{ include('materia/_form.html.twig') }}

    <a href="{{ path('app_materia_index') }}">back to list</a>
{% endblock %}
