{% extends 'extends/iboxContent.html.twig' %}

{% block title %}Nueva tarea{% endblock %}

{% block contenidoIbox %}
    <h1>Create nueva tarea</h1>

    {{ include('tarea/_form.html.twig') }}

    <a href="{{ path('app_tarea_index') }}">atras</a>
{% endblock %}
