{% extends 'extends/iboxContent.html.twig' %}

{% block title %}Nueva tarea{% endblock %}

{% block contenidoIbox %}
    <h1>Crear nueva tarea</h1>

    {{ include('tarea/_form.html.twig') }}

    {% if tarea.materia %}
        <a href="{{ path('app_materia_show', {'id': tarea.materia.id}) }}" class="btn btn-secondary mt-3">Volver a la Materia</a>
    {% else %}
        <p class="text-muted">No se ha asignado una materia a esta tarea.</p>
    {% endif %}


{% endblock %}
